<h2>Hi <%= current_user.first_name %>! Here is your Tree</h2>

<p><%= @tree.variety %></p>
<p><%= @tree.size %></p>
<p><%= @tree.fruit_weight %></p>


<% if authorized_to_edit?(@tree) %>

<a href="/trees/<%= @tree.id %>/edit">Edit Tree</a>

<% end %>