<h2>Hi <%= current_user.first_name %>! Here is your Tree</h2>

<p>Vareity: <%= @tree.variety %></p>
<p>Size: <%= @tree.size %></p>
<p>Weight in Pounds: <%= @tree.fruit_weight %>lbs</p>


<% if authorized_to_edit?(@tree) %>

<a href="/trees/<%= @tree.id %>/edit">Edit Tree</a>

<form action="/trees/<%= @tree.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" name="delete" value="Delete Tree">
</form>
<% end %>